Repository Duslerke/pipelines-reference: changes, and which CircleCI parameters are due for each by the changed paths.
All: commander-decks-job, modern-decks-job

Set up the structure for the spellheart chimera modern deck.
  mtg-decks/modern/ur-spellheart.json
  mtg-decks/modern/ur-spellheart.txt
Due: modern-decks-job

Fix incorrect file extension.
  .circleci/workflows/game-types.yml
Due: none

Add the rakdos vampires deck commander to trigger the commander workflow.
  .circleci/workflows/game-types.yml
  mtg-decks/commander/rakdos-vampires.txt
Due: commander-decks-job

Add alternate workflow to test the possibility of switching between them.
  .circleci/workflows/abc.yml
Due: none

Attempt to give orb call step a name.
  .circleci/config.yml
Due: none

Try hook up a 2nd workflow to a different file tree path.
  .circleci/config.yml
Due: none

Add a UW spirits deck card.
  mtg-decks/commander/uw-spirits.txt
Due: commander-decks-job

Bump the path filtering orb version.
  .circleci/config.yml
Due: none

Try await the 1st filter.
  .circleci/config.yml
Due: none

Path conditions:
  commander-decks-job: any of: mtg-decks/commander/.*
  modern-decks-job: any of: mtg-decks/modern/.*
